:root{
  --primary-color: #020887;
  --secondary-color: #38369a;
  --accent1-color: #7ca5b8;
  --accent2-color: #a9dbb8;
  --heading-font: "PT Serif", serif;
  --text-font: "Goudy Bookletter 1911", serif;
  padding: 10px;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 900;
  font-style: italic;
  color: black;
  position: absolute;
  top: 25%;
  left: 40%;
  font-size: 40px;
}

h2 {
  font-weight: 110;
  font-style: italic;
  color: #38369a;
  font-size: 34px;
  text-align: center;
  padding-top: 10%;
} 

article img {
  position: absolute;
  top: 270px;
  right: 199px;
  bottom: 5px;
  left: 970px;
  width: 250px;
  height: auto;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  background-color: #7ca5b8;
  padding: 10px;
}

p {
  font-family: var(--text-font);
  font-weight: 400;
  font-style: italic;
}

.hero p {
  font-family: var(--text-font);
  font-weight: 400;
  font-style: italic;
  color:white;
  padding: 10px;
  position: absolute;
  top: 45%;
  left: 10%;
  right: 30%;
  background-color: rgba(173, 168, 196, 0.5);
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
}
/*W4 WDD130*/

.encabezado {
display: grid;
grid-template-columns: auto auto;
align-items: center; 
gap: 20px;
background-color: #a9dbb8;
}

.encabezado nav {
display: flex;
gap: 10px;
font-size: 18px;
}

.encabezado nav a {
font-size: 22px; 
margin-right: 100px; 
}

.encabezado img{
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*History*/ /*Company information

.flex-container {
text-align: center; 
}

.flex-container h2 {
width: 100%; 
text-align: center; 
margin-bottom: 10px;
}

.flex-container {
display: flex;
flex-direction: column;
align-items: center; 
gap: 30px; 
}

.flex-content {
display: flex;
text-align: left; 
gap: 20px; 
}

.flex-content iframe{
  display: flex;
  align-items: center;
}

.p1, .p2 {
flex: 1; 
}

.img {
width: 220px;
height: 150px; 
}*/

.flex-content li, iframe{
  display: flex;
  padding: 1%;
  }

/*Adventure Awaits You! Part*/

figure {
border: thin #c0c0c0 solid;
display: flex;
flex-flow: column;
padding: 5px;
max-width: 220px;
margin: auto;
}

figcaption {
background-color: #222;
color: #fff;
font: italic smaller sans-serif;
padding: 3px;
text-align: center;

}

.img1{
flex-grow: 1;
max-width: 200px;
max-height: 250px;
}

.images5{
display: flex;
flex-direction: row;
gap: 20px;
padding-top: 3%;
padding-bottom: 5%;
}

.form {
  display: flex;
  justify-content: center;
}

.box {
  background-color: var(--accent1-color);
  border: 1px solid black;
  padding: 20px;
}

#button {
  font-family: var(--text-font);
  background-color: var(--secondary-color);
  font-weight: 600;
  font-size: 15px;
  color: white;
  width: 100px;
  height: auto;
  padding: 5px;
  display: flex;
  justify-self: end;
}

/*footer*/

.socialmedia a {
text-decoration: none;
}

.socialmedia img {
width: 30px;
height: 30px;
}

/*Footer*/

footer {
display: flex;
justify-content: right;
padding: 30px;
gap: 30%;
top: 55%;
background-color: #a9dbb8;
}

